
/* ==== ==== 1. Extra-Small Devices ==== ==== */
/* ==== ==== (X-sm) Screen ==== ==== */

@media(max-width: 575.98px){
    
/* === === X-sm Common Start === ==== */
/* === === X-sm Header Start === ==== */

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link {
    margin-left: 0!important;
    line-height: 18px;
}

.nav-item button {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* === === X-sm Banner_Top Start === ==== */

.ban_top_text h3 {
    line-height: 35px;
}

.ban_bg1 {
    padding: 273px 0;
}

.ban_bg2 {
    padding: 273px 0;
}

.ban_bg3 {
    padding: 273px 0;
}

.ban_bg4 {
    padding: 273px 0;
}

/* === === X-sm Product_Poster Start === ==== */

.poster_photo {
    height: 366px;
}

/* === === X-sm Banner_Mid Start === ==== */

.ban_mid_text p {
    width: 250px;
}

/* === === X-sm Our_Product_2 Start === ==== */

.prod2_text_top p {
    width: fit-content;
}

.prod2_text_btm p {
    width: fit-content;
}

/* === === X-sm Product_Poster_2 Start === ==== */

.poster2_photo {
    height: 366px;
}

/* === === X-sm Counter_Part Start === ==== */

.count_item {
    margin-bottom: 30px;
}

.count_item h3 {
    padding-bottom: 18px;
}

#counter_part .mb_xsm {
    margin-bottom: 0;
}

/* === === X-sm Blog_Update Start === ==== */

.blog_item {
    margin-bottom: 40px;
}

.blog_text h3 {
    padding-top: 16px;
    padding-bottom: 12px;
}

/* === === X-sm Banner_Btm Start === ==== */

.ban_btm_olay {
    padding-top: 85px;
    padding-bottom: 70px;
}

.ban_btm_text h3 {
    font-size: 25px;
    line-height: 40px;
    width: fit-content;
}

.ban_btm_text p {
    line-height: 24px;
    padding: 0 28px;
    padding-top: 22px;
    padding-bottom: 33px;
}

/* === === X-sm Pricing_Table Start === ==== */

.price_hd h3 {
    padding: 20px 0;
}

.price_btm {
    padding-top: 20px;
    padding-bottom: 20px;
}

.price_mid h3 {
    font-size: 32px;
    padding: 25px 0;
}

.price_mid h4 {
    padding-bottom: 20px;
}

.blog_top p {
    padding-bottom: 45px;
}

/* === === X-sm About_Us Start === ==== */

.about_text p {
    width: 245px;
}

.about_text {
    margin-bottom: 60px;
}

/* === === X-sm Footer Start === ==== */

.foot_text p {
    padding-left: 10px;
    padding-right: 10px;
}

.foot_left {
    text-align: center;
    margin-top: 15px;
}

.foot_right {
    text-align: center!important;
}

.foot_right a {
    line-height: 45px;
}

/* ==== X-sm END ==== */
        
}

/* ==== ==== 2. Small Devices ==== ==== */
/* ==== ==== (sm) Screen ==== ==== */

@media(min-width: 576px) and (max-width: 767.98px){
    
/* === === SM Common Start === ==== */
/* === === SM Header Start === ==== */

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link {
    margin-left: 0!important;
    line-height: 18px;
}

.nav-item button {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* === === SM Product_Poster Start === ==== */

.poster_photo {
    height: 366px;
}

/* === === SM Product_Poster_2 Start === ==== */

.poster2_photo {
    height: 371px;
}

/* === === SM Counter_Part Start === ==== */

.count_item {
    margin-bottom: 30px;
}

.count_item h3 {
    padding-bottom: 18px;
}

#counter_part .mb_sm {
    margin-bottom: 0;
}

/* === === SM Blog_Update Start === ==== */

.blog_item {
    margin-bottom: 40px;
}

.blog_text h3 {
    padding-top: 16px;
    padding-bottom: 12px;
}

.blog_top p {
    padding-bottom: 50px;
}

.blog_item:hover .blog_text h3 {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.blog_item:hover .blog_text p {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* === === SM Pricing_Table Start === ==== */

.price_hd h3 {
    padding: 20px 0;
}

.price_btm {
    padding-top: 20px;
    padding-bottom: 20px;
}

.price_btm button {
    font-size: 10px!important;
}

.price_mid h3 {
    font-size: 32px;
    padding: 25px 0;
}

.price_mid h4 {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 10px;
}

.blog_top p {
    padding-bottom: 45px;
}

/* === === SM About_Us Start === ==== */

.about_text {
    margin-bottom: 60px;
}

/* === === SM Footer Start === ==== */

.foot_text p {
    padding-left: 10px;
    padding-right: 10px;
}

.foot_left {
    text-align: center;
    margin-top: 15px;
}

.foot_right {
    text-align: center!important;
}

.foot_right a {
    line-height: 45px;
}

/* ==== SM END ==== */
        
}

/* ==== ==== 3. Medium Devices ==== ==== */
/* ==== ==== (md) Screen ==== ==== */

@media(min-width: 768px) and (max-width: 991.98px){

/* === === MD Common Start === ==== *
/* === === MD Header Start === ==== */
    
.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link {
    margin-left: 0!important;
    line-height: 18px;
}

.nav-item button {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* === === MD Counter_Part Start === ==== */

.count_item p {
    font-size: 11px;
}

/* === === MD Blog_Update Start === ==== */

.blog_item {
    margin-bottom: 40px;
}

.blog_text h3 {
    padding-top: 16px;
    padding-bottom: 12px;
}

.blog_top p {
    padding-bottom: 45px;
}

/* === === MD About_Us Start === ==== */

.about_text p {
    width: fit-content;
}

/* === === MD Footer Start === ==== */

.foot_text p {
    padding-left: 10px;
    padding-right: 10px;
}

.foot_left {
    text-align: center;
    margin-top: 20px;
}

.foot_right {
    text-align: center!important;
}

.foot_right a {
    line-height: 55px;
}

/* ==== MD END ==== */
    
}